use flake

export HCLOUD_TOKEN="$(gopass show -o fancy.systems/external/hetzner.cloud)"
export TARGET_SERVER="files.flawed.cloud"
export TARGET_IP="195.201.243.14"
export TARGET_GATEWAY="195.201.243.1"
export TARGET_NETMASK="255.255.255.192"
export TARGET_DEVICE="eth0"
